.menu-mobile,
.btn-abrir-menu {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;

}

.header .bi,
.fa-solid {
    font-size: 1.7rem;
}

.header img {
    width: 30px;
    border-radius: 3px;

}

.header .nav {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.header .nav .lista {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 4%;
    background-color: #232323;
}

.header .nav .lista li {
    transition: all .3s;
}

.header .nav .lista li:hover {
    color: var(--logo-jw);
}

.header .nav .lista a {
    padding: 20px 25px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-abrir-menu {
    color: #000;
}

a.btn-menu {
    border: 1px solid var(--logo-jw);
    border-radius: 7px;
    padding: 10px 30px !important;
    font-size: 0.8rem !important;
    transition: all 0.3s ease;
}

a.btn-menu:hover {
    color: #fff !important;
    background-color: var(--logo-jw);
}

a.btn-menu-mobile {
    border: 1px solid var(--logo-jw);
    border-radius: 7px;
    padding: 10px 30px !important;
    margin: 10px;
    transition: all 0.3s ease;
}


a.btn-menu-mobile:hover {
    background-color: var(--logo-jw);
    color:#fff;
    font-weight: bold;

}

@media (max-width:750px) {
    body {
        padding: 5px;
    }

    .up,
    .desktop {
        display: none;
    }

    .header img {
        width: 50px;
        border-radius: 3px;
    
    }

    .menu-mobile,
    .btn-abrir-menu {
        display: block;
    }

    .btn-abrir-menu {
        position: fixed;
        z-index: 11;
        top: 0;
        right: 0;
    }

    .btn-abrir-menu i {
        font-size: 2.5rem;
    }

    .menu-mobile {
        background-color: #232323;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 12;
        width: 0%;
        overflow: hidden;
        transition: .4s;
    }

    .menu-mobile.abrir-menu {
        width: 70%;
    }

    .menu-mobile.abrir-menu ~ .overlay-menu {
        display: block;
    }

    .menu-mobile nav ul {
        text-align: right;
    }

    .menu-mobile nav ul li a {
        font-size: 1.25rem;
        font-weight: 300;
        padding: 20px 8%;
        display: block;
    }

    .menu-mobile nav ul li a:hover {
        background-color: var(--logo-jw);
        color: #000;
        font-weight: 500;
    }

    .menu-mobile .btn-fechar {
        padding: 20px 5%;
    }

    .menu-mobile .btn-fechar i {
        font-size: 1.5rem;
    }


    .overlay-menu {
        background-color: #000000a7;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
    }

}

